<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Vote for your favorite Movie</title>
<style>
html, body {
    /* background: #EEE; */
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#main {
    margin: 0 auto;
    padding: 20px 50px;
    background: #FFF;
    width: 1024px;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #222;
    margin-bottom: 50px;
    clear: both;
}

#main .header {
    float: right;
}

.user-name {
    display: inline-block;
    font-size: 12px;
    color: #222;
    font-weight: bolder;
}

.logout {
    color: #999;
    font-size: 12px;
    text-decoration: none;
}

a.logout:hover {
    color: #99f;
    text-decoration: underline;
}

form {
    width: 100%;
    height: 100%;
    /* float: left; */
}

div.title {
    width: 200px;
    height: 350px;
    border: none;
    display: inline-block;
    margin: 0 50px;
}

div.title img,
div.title label,
div.title input,
form button {
    display: block;
    margin: 10px auto;
    text-align: center;
}

img.boxart {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 250px;
}

button {
    width: 300px;
    height: 50px;
    text-align: center;
    border: 3px solid #339;
    border-radius: 5px;
    font-size: 25px;
    color: #222;
}

button:hover {
    background-color: #55F;
    border: 1px solid #227;
    color: #FFF;
    cursor: pointer;
}

</style>
</head>
<body>
        <div id="main">
            <div class="header">
                <div class="user-name" th:text="${user.userName}"></div>
                <a class="logout" th:href="@{/logout}">log out</a>
            </div>
            <h1>Please vote for your favorite title!</h1>
            <form th:action="@{/voteFor}" method="get">
                <div th:each="movie : ${movies}" class="title">
                    <img class="boxart"
                         th:src="${movie.picture}">
                    <label for="title1" th:text="${movie.movieTitle}"></label>
                    <input type="radio" id="title1" name="movieId" th:value="${movie.movieId}" >
                </div>
                <button type="submit">Vote</button>
            </form>
        </div>

</body>
</html>





