<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>thank you for voting</title>
<style>
html, body {
    /* background: #EEE; */
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#main {
    margin: 0 auto;
    padding: 20px 50px;
    background: #FFF;
    width: 1024px;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #222;
    margin-bottom: 50px;
    clear: both;
}

#main .header {
    float: right;
}

.user-name {
    display: inline-block;
    font-size: 12px;
    color: #222;
    font-weight: bolder;
}

.logout {
    color: #999;
    font-size: 12px;
    text-decoration: none;
}

a.logout:hover {
    color: #99f;
    text-decoration: underline;
}
h1.success {
    color: #282;
}

div.success p {
    text-align: center;
    margin: 10px 0 10px;
}

span.title {
    color: #282;
    font-weight: bolder;
}

img {
    display: block;
    margin: 10px auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 350px;
}

a.change {
    display: block;
    width: 120px;
    color: #AAA;
    font-size: 15px;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
}
a.change:hover {
    color: #339;
}

</style>
</head>

<body>
    <div id="main">
        <div class="header">
            <div class="user-name" th:text="${user.userName}"></div>
            <a class="logout" th:href="@{/logout}">log out</a>
        </div>
        <h1 class="success">Success! Thank you for voiting!</h1>
        <div class="success">
            <img th:src="${votedMovie.picture}">
            <p>You voted for <span class="title" th:text="${votedMovie.movieTitle}"></span></p>
        </div>
        <a class="change" th:href="@{/voteresult}">Vote Result</a>
    </div>
</body>

</html>
